/*
*New Header
*Template header for cocobeanbags.com   

*/
/* Import Bootstrap styles and Responsive styles */
@import url('bootstrap.css');
@import url('bootstrap-responsive.css');
::selection{ background-color: rgb(0,124,195); color: white; }
::-moz-selection{ background-color: rgb(0,124,195); color: white; }
::webkit-selection{ background-color: rgb(0,124,195); color: white; }
	
body {
	padding-bottom: 40px;
	padding-top: 60px;
	background: url(../img/bg_body.gif) fixed;
}

a:focus{
	outline: none;
}

.product{
	padding: 5px 5px 10px 5px;
}

	.product:hover{
		cursor: pointer;
		background-color: rgb(0,124,195);
	}
	
.container{
	width: 1020px;
	margin-top: 50px;
}

.container .span10{
	margin-left: 0;
}

.container a p{
	display: inline;
}
.span3 ul,
.span3 ul li{
	list-style-type: none;
	margin-left: 0;
}
a:hover{
	text-decoration: none;
}

.span10{
	background: white;
}

.span8{
	padding-top: 15px;
}


footer{
	text-align: center;
}

.input-append input.btn{
	height: 30px;
}

/*Batas CSS lama dan Baru*/
.navbar-inner {
	height: 60px;
	background-color: rgb(0,124,195);
	background-image: linear-gradient(to bottom, rgb(0,124,195), rgb(0,124,195));
	border-bottom: none;
	}

.navbar-inner .btn .btn-navbar{
	margin-top: 40px;
}

.navbar .nav.pull-left{
  float: left;
  margin: 18px 0 0 15%;
}

.navbar .nav.pull-right{
  float: right;
  margin: 18px 15% 0 0;
}

.navbar .nav > li{
	margin-right: 10px;
	margin-top: 0px;
	height: 10px;
	line-height: 10px;
  width:70px;
  text-align: center;
}


.navbar .nav > li > a:hover{
	color: rgb(0,124,195);
	text-shadow: 0px 1px 0px rgb(0,124,195);
	border-radius: 5px 5px 0px 0px;
	background-color: white;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	color: rgb(0,124,195);
	border-radius: 5px 5px 0px 0px;
	text-shadow: 0px 1px 0px rgb(0,124,195);
	background-color: white;
	height: 10px;
}


	.nav-collapse ul.nav li a{
		color:white;
	}

.hair-atas{
	margin-top: 30px;
	display: none;
}

.hair-white{
	border-top: 2px dashed #eeeeee;
}

.hair-bawah{
	margin: 50px 0 0 0;
}

.logo{
	position: absolute;
	margin-left: 45%;
	margin-right: auto;
}

@media (min-width: 1280px){
  .container{
    width: 1020px;
  }
}

@media (max-width: 1280px) and (min-width: 1024px){

  .container{
		width: 820px;
	}

.navbar .nav.pull-left{
  margin: 18px auto 0px 10.5%;
  float: left;
}

.navbar .nav.pull-right{
  margin: 18px 10.5% auto auto;
  float: right;
}
}

@media (max-width: 1024px) and (min-width: 979px){
	.container{
		width: 820px;
	}

  .navbar .nav.pull-left{
    margin: 18px auto 0px 10%;
    float: left;
  }

  .navbar .nav.pull-right{
    margin: 18px 10% auto auto;
    float: right;
  }
}

@media (max-width: 979px) and (min-width: 768px){
	.container{
		width: 640px;
	}

	.logo{
		position: absolute;
	}

	.hair-atas{
		margin-top: 55px;
		display: block;
	}

	.hair-bawah{
		margin: -2px 0 5px 0;
	}

	.navbar-inner{
		height: auto;
	}

	.nav-collapse ul.nav.pull-left{
    float: none;
    margin: 50px 0px 10px;
	}

  .nav-collapse ul.nav.pull-right{
    float: none;
    margin: 0px 0px 10px;
  }

	.navbar-inner .btn{
		margin: 20px 3% 0 auto;
	}

	.navbar .nav {
		margin: 18px auto 30px 0;
	}

	.navbar .nav > li,.navbar .nav > li > a:hover, .navbar .nav > .active > a, .navbar .nav > .active > li:hover{
		border-radius: 5px 5px 5px 5px;
		line-height: 10px;
		margin:10px 1px 20px 0px;
    width: auto;
    text-align: left;
	}

	.navbar .nav > li > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
		color: rgb(85, 85, 85);
		text-decoration: none;
		height: 10px;
		border-radius: 5px 5px 5px 5px;
	}

	.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
		font-weight: normal;
	}


}

@media (max-width: 768px) and (min-width: 480px) {
	.container{
		width: 100%;
	}
	
	.hero-unit {
		padding: 20px;
	}

	.logo{
		position: absolute;
		margin-left: 37%;
		margin-right: auto;
	}

	.hair-atas{
		margin-top: 55px;
		display: block;
	}

	.hair-bawah{
		margin: -2px 0 5px 0;
	}

	.navbar-inner{
		height: auto;
	}

  .nav-collapse ul.nav.pull-left{
    float: none;
    margin: 50px 0px 10px;
  }

  .nav-collapse ul.nav.pull-right{
    float: none;
    margin: 0px 0px 10px;
  }

  .nav-collapse ul.nav{
    margin-top: 50px;
  }

  .navbar-inner .btn{
    margin: 20px 3% 0 auto;
  }

  .navbar .nav {
    margin: 18px auto 30px 0;
  }


  .navbar .nav > li,.navbar .nav > li > a:hover, .navbar .nav > .active > a, .navbar .nav > .active > li:hover{
    border-radius: 5px 5px 5px 5px;
    line-height: 10px;
    margin:10px 1px 20px 0px;
    width: auto;
    text-align: left;
    }

  .navbar .nav > li > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    color: rgb(85, 85, 85);
    text-decoration: none;
    height: 10px;
    border-radius: 5px 5px 5px 5px;
  }


  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    font-weight: normal;
  }
}

@media (max-width: 480px) and (min-width:320px){
	.container{
		width: 100%;
	}
	
	.hero-unit{
		padding: 10px;
	}
	
	#appendedPrependedInput{
		width:120px;
	}

	.logo{
		position: absolute;
		margin-left: 32%;
		margin-right: auto;
	}

	.hair-atas{
		margin-top: 55px;
		display: block;
	}

	.hair-bawah{
		margin: -2px 0 5px 0;
	}

	.navbar-inner{
		height: auto;
	}

  .nav-collapse ul.nav.pull-left{
    float: none;
    margin: 50px 0px 10px;
  }

  .nav-collapse ul.nav.pull-right{
    float: none;
    margin: 0px 0px 10px;
  }

  .nav-collapse ul.nav{
    margin-top: 50px;
  }

  .navbar-inner .btn{
    margin: 20px 3% 0 auto;
  }

  .navbar .nav {
    margin: 18px auto 30px 0;
  }


  .navbar .nav > li,.navbar .nav > li > a:hover, .navbar .nav > .active > a, .navbar .nav > .active > li:hover{
    border-radius: 5px 5px 5px 5px;
    line-height: 10px;
    margin:10px 1px 20px 0px;
    width: auto;
    text-align: left;
  }

  .navbar .nav > li > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    color: rgb(85, 85, 85);
    text-decoration: none;
    height: 10px;
    border-radius: 5px 5px 5px 5px;
  }


  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    font-weight: normal;
  }
}

@media (max-width:320px){
	.container{
		width: 100%;
	}
	
	.hero-unit{
		padding: 5px;
	}
	
	.hero-unit h1{
		font-size: 40px;
		line-height: 40px;
	}
	
	.input-apend input.btn{
		
	}
	
	#appendedPrependedInput{
		width:40px;
	}

	.logo{
		position: absolute;
		margin-left: 25%;
		margin-right: auto;
	}

	.hair-atas{
		margin-top: 55px;
		display: block;
	}

	.hair-bawah{
		margin: -2px 0 5px 0;
	}

	.navbar-inner{
		height: auto;
	}

  .nav-collapse ul.nav.pull-left{
    float: none;
    margin: 50px 0px 10px;
  }

  .nav-collapse ul.nav.pull-right{
    float: none;
    margin: 0px 0px 10px;
  }

  .nav-collapse ul.nav{
    margin-top: 50px;
  }

  .navbar-inner .btn{
    margin: 20px 3% 0 auto;
  }

  .navbar .nav {
    margin: 18px auto 30px 0;
  }


  .navbar .nav > li,.navbar .nav > li > a:hover, .navbar .nav > .active > a, .navbar .nav > .active > li:hover{
    border-radius: 5px 5px 5px 5px;
    line-height: 10px;
    margin:10px 1px 20px 0px;
    width: auto;
    text-align: left;
  }

  .navbar .nav > li > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    color: rgb(85, 85, 85);
    text-decoration: none;
    height: 10px;
    border-radius: 5px 5px 5px 5px;
  }


  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    font-weight: normal;
  }
}
 /* for demo purposes (fixed top navbar placement in the fiddle. Ok to remove */
 
@media (max-width: 767px) {
	body {
		padding-top: 0;
	}
}

@media (max-width: 979px) {
	body {
		padding-top: 0;
	}
}

